@using WebApplication3.Models;
@model Gateau
@{
    Layout = "_Layout";
}
    <div class="position-relative">
        <a href="/" class="nav-link active mt-4 badge text-bg-secondary position-absolute bottom-0 start-0 me-3">←</a>
        <a href="/" class="nav-link active mt-4 badge text-bg-secondary position-absolute bottom-0 end-0 me-3">→</a>
    </div>
<div class="d-flex justify-content-center">
    <div class="container color-1 mt-5 rounded p-3 pt-5">
        <div class="row justify-content-start">
            <div class="col-3">
                <div style="width: 18rem"> 
                    <img src="@Model.urlImage" class="card-img-top rounded" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-between">
                    <h1 class="mt-4 col position-relative">@Model.Nom<span class=" mt-4 badge text-bg-secondary position-absolute bottom-0 end-0 me-3">#@Model.Id</span></h1>
                </div>
                <p class="m-0">Portions: @Model.portions</p>
                <p>Calories: @Model.calories</p>
                <h4>Ingrédients</h4>
                <p>@Model.Ingredients</p>
            </div>
        </div>
        
    </div>
</div>
